In [12]:
import numpy as np
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
universe = pd.read_csv("Investment_Universe.csv", delimiter=";")

In [3]:
equity = universe[universe["MainClass"] == "Equity"].copy()

In [4]:
tickers_equity = list(equity["Ticker"])

In [28]:
tickers_equity_data = yf.download(tickers=tickers_equity,start="2016-07-01", end="2021-07-01")

[*********************100%***********************]  13 of 13 completed

In [60]:
equity_adjClose = tickers_equity_data["Close"].copy()

In [49]:
#equity_adjClose.to_csv("tickers_yahoo.csv",index=True)

In [61]:
equity_adjClose.isna().sum()/len(equity_adjClose) *100

ALAT.PA       0.389712
CECD.L        4.520655
CEMA.L        1.558846
CES1.L        9.742790
CJPU.L        2.961808
CSINDU.SW    75.526111
CSPX.L        1.402962
EMUL.SW      14.341387
IJPE.L        1.402962
ISJP.L        1.402962
ISP6.L        1.402962
MEUD.L        3.663289
PAF.L         1.402962
dtype: float64

In [32]:
bloom_data = pd.read_excel("EFTs Bloomberg.xlsx",sheet_name="Sheet1", index_col=0, parse_dates=True)

In [62]:
len(bloom_data)

1305

In [63]:
len(equity_adjClose.index)

1283

In [64]:
bloom_data.columns = ['CSEMUS.SW_B', 'CSINDU.SW_B', 'EMUL.SW_B', 'CECD.LN_B']

In [65]:
equity_all = pd.merge(equity_adjClose,bloom_data,how="left", left_index=True, right_index=True)

In [66]:
len(equity_all)

1283

In [67]:
equity_all.isna().sum()/len(equity_all) *100

ALAT.PA         0.389712
CECD.L          4.520655
CEMA.L          1.558846
CES1.L          9.742790
CJPU.L          2.961808
CSINDU.SW      75.526111
CSPX.L          1.402962
EMUL.SW        14.341387
IJPE.L          1.402962
ISJP.L          1.402962
ISP6.L          1.402962
MEUD.L          3.663289
PAF.L           1.402962
CSEMUS.SW_B     0.000000
CSINDU.SW_B     0.000000
EMUL.SW_B       0.000000
CECD.LN_B       0.000000
dtype: float64

In [68]:
equity_all.drop(["CES1.L","CSINDU.SW","EMUL.SW","CECD.L"],axis=1,inplace=True)

In [70]:
#equity_all.to_csv("tickers_merged.csv",index=True)

In [71]:
equity_all[equity_all["ALAT.PA"].isna()]

,ALAT.PA,CEMA.L,CJPU.L,CSPX.L,IJPE.L,ISJP.L,ISP6.L,MEUD.L,PAF.L,CSEMUS.SW_B,CSINDU.SW_B,EMUL.SW_B,CECD.LN_B
Date,,,,,,,,,,,,,
2016-06-30,NaN,107.129997,117.120003,195.354996,35.810001,2451.500000,3513.000000,10208.0,19.000,145.35,186.32,27.630,16.333
2016-12-28,NaN,109.220001,126.529999,214.160004,44.419998,2794.000000,4627.500000,11465.0,14.750,163.74,210.84,32.120,17.893
2018-05-01,NaN,155.110001,156.419998,254.649994,50.669998,3264.500000,4614.500000,13160.0,7.160,207.20,264.70,36.495,25.610
2019-05-01,NaN,149.520004,145.740005,289.910004,47.384998,2987.000000,4967.000000,13483.0,9.155,200.20,292.65,36.825,24.240
2020-05-01,NaN,133.044998,136.610001,283.929993,42.125000,27.889999,39.310001,11999.0,13.525,171.94,273.55,32.730,15.579

In [77]:
for col in equity_all.columns:
    
    equity_all[col].fillna(method="ffill",inplace=True)
    equity_all[col].fillna(method="bfill",inplace=True)

In [78]:
equity_all.isna().sum()/len(equity_all) *100

ALAT.PA        0.0
CEMA.L         0.0
CJPU.L         0.0
CSPX.L         0.0
IJPE.L         0.0
ISJP.L         0.0
ISP6.L         0.0
MEUD.L         0.0
PAF.L          0.0
CSEMUS.SW_B    0.0
CSINDU.SW_B    0.0
EMUL.SW_B      0.0
CECD.LN_B      0.0
dtype: float64

In [79]:
equity_all.to_csv("tickers_merged.csv",index=True)