In [1]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
universe = pd.read_csv("Investment_Universe.csv", delimiter=";")

In [3]:
equity = universe[universe["MainClass"] == "Equity"].copy()

In [4]:
tickers_equity = list(equity["Ticker"])

In [29]:
tickers_equity_data = yf.download(tickers=tickers_equity,start="2016-06-30", end="2021-06-30")

[*********************100%***********************]  13 of 13 completed

In [30]:
equity_adjClose = tickers_equity_data["Adj Close"].copy()

In [31]:
equity_adjClose.isna().sum()/len(equity_adjClose) *100

ALAT.PA       0.389712
CECD.L        4.442712
CEMA.L        1.558846
CES1.L        9.664848
CJPU.L        2.961808
CSINDU.SW    75.604053
CSPX.L        1.402962
EMUL.SW      14.341387
IJPE.L        1.402962
ISJP.L        1.402962
ISP6.L        1.402962
MEUD.L        3.663289
PAF.L         1.402962
dtype: float64

In [40]:
equity_adjClose[equity_adjClose["ALAT.PA"].isna()].tail()

,ALAT.PA,CECD.L,CEMA.L,CES1.L,CJPU.L,CSINDU.SW,CSPX.L,EMUL.SW,IJPE.L,ISJP.L,ISP6.L,MEUD.L,PAF.L
Date,,,,,,,,,,,,,
2016-06-29,NaN,14.640600,106.459999,14412.0,117.120003,NaN,193.660004,NaN,36.160000,2417.750000,3416.000000,9920.0,16.108658
2016-12-28,NaN,17.257799,109.220001,16376.5,126.529999,NaN,214.160004,32.119999,44.419998,2794.000000,4627.500000,11465.0,13.687106
2018-05-01,NaN,NaN,155.110001,20673.0,156.419998,NaN,254.649994,NaN,50.669998,3264.500000,4614.500000,13160.0,6.859357
2019-05-01,NaN,24.240000,149.520004,20127.5,145.740005,NaN,289.910004,NaN,47.384998,2987.000000,4967.000000,13483.0,8.770589
2020-05-01,NaN,15.579000,133.044998,16872.0,136.610001,NaN,283.929993,NaN,42.125000,27.889999,39.310001,11999.0,13.105481