In [1]:
import numpy as np
import pandas as pd

In [2]:
my_arr = np.arange(0,100)

In [3]:
my_arr = my_arr.reshape(10,10)

In [4]:
df = pd.DataFrame(my_arr, columns=["A","B","C","D","E","F","G","H","J","I"])

In [5]:
vector = np.arange(0,10)

In [6]:
df2 = pd.Series(vector,name="multi")

In [7]:
df2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: multi, dtype: int32

In [8]:
df

    A   B   C   D   E   F   G   H   J   I
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

In [9]:
for i in range(0, len(df)):
        for j in range(i, len(df)):
            if j > i:
                df.iloc[j, i] = df.iloc[j -1, i] * df2.loc[j]

In [10]:
df

   A        B        C        D       E       F      G     H    J   I
0  0        1        2        3       4       5      6     7    8   9
1  0       11       12       13      14      15     16    17   18  19
2  0       22       22       23      24      25     26    27   28  29
3  0       66       66       33      34      35     36    37   38  39
4  0      264      264      132      44      45     46    47   48  49
5  0     1320     1320      660     220      55     56    57   58  59
6  0     7920     7920     3960    1320     330     66    67   68  69
7  0    55440    55440    27720    9240    2310    462    77   78  79
8  0   443520   443520   221760   73920   18480   3696   616   88  89
9  0  3991680  3991680  1995840  665280  166320  33264  5544  792  99

In [22]:
lenght = 5
value = 100
monthly = []

for i in range(0,lenght):
    row = []
    for j in range(0, lenght):
        if j == i and (i > 0 and i < lenght - 1):
            row.append(value)
        else:
            row.append(np.nan)   
    monthly.append(row)

In [23]:
arr1 = np.array(monthly)

In [24]:
arr1

array([[ nan,  nan,  nan,  nan,  nan],
       [ nan, 100.,  nan,  nan,  nan],
       [ nan,  nan, 100.,  nan,  nan],
       [ nan,  nan,  nan, 100.,  nan],
       [ nan,  nan,  nan,  nan,  nan]])

In [25]:
arr1[0,0] =500

In [28]:
arr1_sum = np.nansum(arr1, axis=1)

In [29]:
arr1_sum

array([500., 100., 100., 100.,   0.])

In [33]:
arr1_cumsum=[]
for i in range(1,len(arr1_sum)+1):
    my_sum = sum(arr1_sum[0:i])
    arr1_cumsum.append(my_sum)

In [34]:
arr1_cumsum

[500.0, 600.0, 700.0, 800.0, 800.0]

In [32]:
arr1_sum

array([500., 100., 100., 100.,   0.])